* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-image:url("Resources/medback.jpg");
  background-size: cover;
}

.heading{

margin-left:500px ;
margin-top:100px ;

}
.heading p{

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 90px;
  font-weight: 500px;

}
.background{
margin-top: 80px;
background-color: bisque;
height: 200px;
width: 300;
margin-left: 600px;
margin-right: 80px;
justify-content: space-evenly;
position: relative;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape1{
  background: linear-gradient(
    to right,
      #1845ad,
      #23a2f6
  );
  
 
}
.shape2{
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
 
}
.button-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 120px;
  margin-left: 420px;
  background-color: transparent;
}

.login-button {
  text-decoration: none;
  background-color: #3AAFA9;
  color: #def2f1;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 15px;
  height: 120px;
  width: 200px;
  text-shadow: #2b7a7b;
  font-size: 40px;
  text-align: center;
  flex-wrap: wrap;
  border:3px solid  #2b7a7b ;
}

.login-button:hover {
  background-color: #2b7a7b;
}
/*.welcome {
  height: 100px;
  background-color: #3aaf93;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-message {
  margin-top: 70px;
  color: #17252A;
  text-align: center;
  font-size: 20px;
  height: 20px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.login-main {
  margin-top: 80px;
  height: 500px;
  background-color: #DEF2F1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.message {
  text-align: center;
  background-color: #17252B;
  height: 80px;
  width: 500px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.message p {
  margin-top: 20px;
  color: white;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.enter {
  text-align: center;
}

.form-section {
  height: 200px;
}

.form-class {
  height: 300px;
}
*/